<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DefauldODBC" connectionString="Driver={Microsoft Access Driver (*.mdb)}; DBQ=accessDb_00.mdb; User ID=admin; Password=;" providerName="System.Data.OleDb"/>
  </connectionStrings>
</configuration>